*{
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pageWrapper {
  max-width: 1600px;
  width: 70%;
  margin: 0px auto;
  padding: 0px 20px;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
h1 span {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  font-weight: 400;
  color: #9D9D9D;
}
h3 {
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: 500;
}
h5 {
  font-size: 20px;
  margin-bottom: 0.7rem;
  font-weight: 400;
  color: #9D9D9D;
}
h5 span {
  font-weight: 400;
  color: #ccc;
  font-weight: 400;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}
.spacer {
  height: 7rem;
}
.twocoloumns {
  margin-bottom: 7rem;
  column-count: 2;
  column-gap: 2rem;
  break-inside: avoid;
}
a {
  color: #80C181;
}
img{
  border-radius: 8px;
  max-width: 100%;
}
video {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 3rem;
}
.savespaceTop {
  height: 170px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 26px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .twocoloumns {
    column-count: 1;
  }
  .savespaceTop {
    height: 100px;
  }
  .pageWrapper {
    width: 100%;
  }
  .spacer {
    height: 4rem;
  }
}
